@model IEnumerable<EFLabTask.DTOs.CourseDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <form method="post" action="/Course/Search">
        <div class="col-md-4">
            <input type="text" class="form-control" name="Search" placeholder="Type Title" />
        </div>
        <br />
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrdtHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrdtHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
