<h2>Education</h2>
<hr />
<ol>
    @foreach (var item in ViewBag.edu)
    {
        if (item.Year == 2019)
        {
            <li>
                <b>HSC</b>
                <ul style="list-style-type: square;">
                    <li>Year : @item.Year</li>
                    <li>Group : @item.Group</li>
                    <li>Institute : @item.Institute</li>
                </ul>
            </li>
        }
        else if (item.Year == 2017)
        {
            <li>
                <b>SSC</b>
                <ul style="list-style-type: square;">
                    <li>Year : @item.Year</li>
                    <li>Group : @item.Group</li>
                    <li>Institute : @item.Institute</li>
                </ul>
            </li>
        }
    }
</ol>


