@model IEnumerable<ProductMgmtSys.DTOs.ProductDTO>

@{
    ViewBag.Title = "Index";
}

<br />

@if (TempData["Msg"] != null)
{
    <div class="alert alert-primary" role="alert">@TempData["Msg"]</div>
}

<h2>Products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                <a href="/Order/addtocart/@item.Id" class="btn btn-primary" style="border-radius:13px;height:20px; width:115px; padding-bottom:31px;">Add to Cart</a>
            </td>
        </tr>
    }

</table>

<a href="/Customer/Index" class="btn btn-outline-secondary">Back</a>
