@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}
<style>

    .validation-messages {
        position: absolute;
        top: 150px;
        left:360px;
        padding: 10px;
        background-color: white;
        height: 270px;
        width: 600px;
    }

</style>
<hr />
<h2>Signup</h2>
<hr />
<div class="form-container">
    <form action="" method="post">

        <input type="text" name="Id" placeholder="Enter your ID" value="@Model.Id" class="form-control" />
        <br />

        <input type="text" name="Email" placeholder="Enter your Email" value="@Model.Email" class="form-control" />
        <br />

        Gender:
        <input type="radio" name="Gender" value="Male" @(Model.Gender == "Male" ? "checked" : "") /> Male
        <input type="radio" name="Gender" value="Female" @(Model.Gender == "Female" ? "checked" : "") /> Female
        <br /><br />

        Profession:
        <select class="form-control" name="Profession">
            <option disabled @(Model.Profession == null ? "selected" : "")>Select</option>
            <option @(Model.Profession == "Student" ? "selected" : "")>Student</option>
            <option @(Model.Profession == "Business" ? "selected" : "")>Business</option>
            <option @(Model.Profession == "Teacher" ? "selected" : "")>Teacher</option>
        </select>
        <br />

        Hobbies:
        <input type="checkbox" value="Travelling" name="Hobbies" @(Model.Hobbies.Contains("Travelling") ? "checked" : "") /> Travelling
        <input type="checkbox" value="Sports" name="Hobbies" @(Model.Hobbies.Contains("Sports") ? "checked" : "") /> Sports
        <input type="checkbox" value="Gaming" name="Hobbies" @(Model.Hobbies.Contains("Gaming") ? "checked" : "") /> Gaming
        <br /><br />

        <input type="submit" value="Register" class="btn btn-primary" />
    </form>

    <div class="validation-messages">
        @Html.ValidationMessage("Id", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("Email", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("Gender", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("Profession", new { @class = "text-danger" })<br />
        @Html.ValidationMessage("Hobbies", new { @class = "text-danger" })<br />
    </div>
</div>
<hr />
<br />
@if (TempData["Smg"] != null)
{
    <span class="alert alert-danger">@TempData["Smg"]</span>
    <br />
}
<br />
